#mathw{
  	
 h1{
  
     
     margin-top: 5px;
     margin-bottom: 5x;
     border-bottom:1px $gray57 dashed;
     padding-left: 5px;
     

}
}
.socilamediaicons{

	ul{

		float:right;
		li{
			display:inline-block;
			
			text-decoration: none;
			

		}
	
}
}